<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="main.Properties.Settings.conexion" connectionString="Data Source=poo-proyecto.cx8zwtd8qeeg.us-east-2.rds.amazonaws.com,1433;Initial Catalog=proyecto_poo;User ID=admin;Password=poopassword123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>